@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.logo{
    font-family: 'Tilt Prism', cursive;
    font-weight: 400;
    font-weight: bolder;
    color: #116A7B;
}
ul > li{
    border: 2px solid black transparent;
    margin-right: 12px;
}
ul  > li:hover{
    border: 2px solid black;
    margin-right: 12px;
}
li > a{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
.nav-link:hover{
    background-color: black;
    color: #fff;
}
.bgc{
    background-color: #C2DEDC;
}

.contact{
    background-color: #6c757d;
    color: white;
}
button > a{
    text-decoration: none;
    color: inherit;
}
.contact:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.work:hover{
    border:2px solid white;
}
.form{
    background-color: #9681EB;
    border: 5px dashed #CDC2AE;
    border-radius: 1rem;
}
.submit{
    background-color: #FCAEAE;
}
.submit:hover{
    background-color: black;
    color: white;
}
/*===========================
  card-01 css
===========================*/
.single-card {
    box-shadow: var(--shadow-1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .single-card:hover {
    box-shadow: var(--shadow-4);
  }
  .single-card .card-image img {
    width: 100%;
    height: 100%;
  }
  .single-card .card-content {
    padding: 16px;
  }
  .single-card .card-content .card-title {
    margin-bottom: 0;
  }
  .single-card .card-content .card-title a {
    color: var(--black);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .single-card .card-content .card-title a:hover {
    color: var(--primary);
  }
  .single-card .card-content .text {
    color: var(--dark-3);
    margin-top: 8px;
  }
  .Downlaod{
    background: transparent;
    color: darkcyan;
  }